@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

body {
  font-family: "Quicksand", sans-serif;
  background-color: #f7f6ff;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #e8ecf8;
  border-radius: 99px;
}

body::-webkit-scrollbar-thumb {
  background: #213b97;
  border-radius: 99px;
  border: 2px solid #e8ecf8;
}

body::-webkit-scrollbar-thumb:hover {
  background: #1a2f7a;
}

body::-webkit-scrollbar-thumb:active {
  background: #152568;
}

aside h1{
  font-family: "Nunito Sans";
}

/* aside{
    font-family: "Quicksand", sans-serif;
} */

.bean{
  font-family: "Nunito Sans";
}


