@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

body {
  font-family: "Quicksand", sans-serif;
  background-color: #f7f6ff;
}

aside h1 {
  font-family: "Nunito Sans";
}

:root {
  --color-primary-color: hsl(227, 64%, 36%);
}

@theme {
  --color-primary-color: hsl(227, 64%, 36%);
}

/* aside{
    font-family: "Quicksand", sans-serif;
} */
